{% extends "base.html" %}
{% from "macros.html" import render_form, render_field, render_submit %}

{% block breadcrumb %}
  <li>register</li>
{% endblock %}

{% block content %}
  {% call render_form(register_user_form, action_url=url_for_security('register')) %}
    {{ register_user_form.hidden_tag() }}
    {{ render_field(register_user_form.name) }}
    {{ render_field(register_user_form.email) }}
    {{ render_field(register_user_form.password) }}
    {% if register_user_form.password_confirm %}
      {{ render_field(register_user_form.password_confirm) }}
    {% endif %}
    {{ render_submit(register_user_form.submit, class_='btn btn-default') }}
  {% endcall %}
{% endblock %}
