.navbar .breadcrumb {
    margin: 0 7px;
}

#patchheaders {
    max-width: 80em;
}

@media (min-width: 768px) {
    .navbar .breadcrumb {
        margin: 7px 10px;
    }
}

.highlight a {
    margin-right: 1em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
