<!doctype html>
<html>
    <head>
        <title>Plaid - {{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.css')}}" />
        <link href="{{ url_for('admin.static', filename='admin/css/admin.css') }}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block subject %}
        <h1>{{title|truncate(80)}}</h1>
        {% endblock %}
        <div class="breadcrumb">
        {% if user!=None and user.is_authenticated() and not user.is_anonymous(): %}
        Logged in as {{user.get_username()}} - <a href="/logout">Logout</a>
        {% else %}
        User not authenticated. <a href="/login">Login</a> or <a href="/register">register</a>.
        {% endif %}
        {% block breadcrumb %}
        {% endblock %}

        </div>
        <div class="container">
            <div class="flash">
                {% with messages = get_flashed_messages(with_categories=True) %}
                  {% if messages %}
                    <ul class="list-group">
                    {% for category, message in messages %}
                        {% if category in ['success','warning','info','debug']%}
                            <li class="list-group-item list-group-item-{{category}}">{{ message }}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-warning">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </div>
            {% block content %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
        <script src="{{url_for('static', filename='js/jquery-2.0.3.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>

        <script src="{{ url_for('admin.static', filename='select2/select2.min.js') }}" type="text/javascript"></script>
    <body>
</html>
