{%- macro paginate(pagination, endpoint) -%}
    <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            <li {{ 'class=active' if page == pagination.page }} >
                <a href="{{ endpoint(page) }}"
                   title="">{{ page }}</a>
            </li>
        {% else %}
            <li><span>…</span></li>
        {% endif %}
    {%- endfor %}
    </ul>
{% endmacro %}

{%- macro render_tag(tag, project) -%}
    <a class="btn btn-xs btn-info" href="{{ url_for('project.tag', project_name=project.name, tag_name=tag.name) }}">{{tag.name}}</a>
{% endmacro %}

{%- macro render_tags(tags, project) -%}
    {%- for tag in tags %}
        {{ render_tag(tag, project) }}
    {% endfor %}
{% endmacro %}

{%- macro render_item(name, item) -%}
    {%- if item -%}
        <tr>
            <th>{{name}}</th>
            <td><a href="{{ item }}">{{ item }}</a></td>
        </tr>
    {% endif %}
{% endmacro %}

{%- macro render_badge(text, item, css_class, url) -%}
    <a href="{{ url }}" class="badge {{css_class}}">
        {{ text }} {{ item.count() }}
    </a>
{% endmacro %}

{%- macro render_status(p) -%}
    {{ render_badge("New", p.new_patches, "alert-info") }}
    {{ render_badge("Committed", p.committed_patches, "alert-success") }}
    {{ render_badge("Reviewed", p.reviewed_patches, "alert-warning") }}
    {{ render_badge("Stale", p.stale_patches, "alert-danger") }}
{% endmacro %}
