{%- macro paginate(pagination, endpoint) -%}
    {% if pagination.pages > 1 %}
    <ul class="pagination pagination-sm">
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            <li {{ 'class=active' if page == pagination.page }} >
                <a href="{{ endpoint(page) }}"
                   title="">{{ page }}</a>
            </li>
        {% else %}
            <li><span>…</span></li>
        {% endif %}
    {%- endfor %}
    </ul>
    {% endif %}
{% endmacro %}

{%- macro render_tag(tag, project) -%}
    <a class="btn btn-xs btn-info"i
       href="{{ url_for('project.tag', project_name=project.name, tag_name=tag.name) }}">{{tag.name}}</a>
{% endmacro %}

{%- macro render_tags(tags, project) -%}
    {%- for tag in tags %}
        {{ render_tag(tag, project) }}
    {% endfor %}
{% endmacro %}

{%- macro render_patch_state(patch) -%}
{% set css_class = 'alert-info' %}
    <span class="badge {{css_class}}">{{ patch.state.name }} </span>
{% endmacro %}


{%- macro patch_row_tiny(patch) -%}
    <tr>
        <td>
            {{ render_tags(patch.tags, patch.project) }}
            <a href="{{url_for('patch.index', patch_id=patch.id)}}">
                {{ patch.name| truncate(79, True) }}
            </a>
        </td>
        <td>
            {{ patch.date }}
        </td>
        <td>
            {{ render_patch_state(patch) }}
        </td>
    </tr>
{% endmacro %}

{%- macro patch_list(patches) -%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Patch</th><th>Date</th><th>State</th>
            </tr>
        </thead>
        <tbody>
        {%- for patch in patches %}
            {{ patch_row_tiny(patch) }}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{%- macro render_patches(patches, endpoint) -%}

{{ paginate(patches, endpoint) }}

{{ patch_list(patches.items) }}

{{ paginate(patches, endpoint) }}

{% endmacro %}

{%- macro render_item(name, item) -%}
    {%- if item -%}
        <tr>
            <th>{{name}}</th>
            <td><a href="{{ item }}">{{ item }}</a></td>
        </tr>
    {% endif %}
{% endmacro %}

{%- macro render_badge(text, item, css_class, url) -%}
    <a href="{{ url }}" class="badge {{css_class}}">
        {{ text }} {{ item.count() }}
    </a>
{% endmacro %}

{%- macro render_status(p) -%}
    {{ render_badge("New", p.new_patches, "alert-info",
                    url_for('project.patches', group='new')) }}
    {{ render_badge("Committed", p.committed_patches, "alert-success",
                    url_for('project.patches', group='committed')) }}
    {{ render_badge("Reviewed", p.reviewed_patches, "alert-warning",
                    url_for('project.patches', group='reviewed')) }}
    {{ render_badge("Stale", p.stale_patches, "alert-danger",
                    url_for('project.patches', group='stale')) }}
{% endmacro %}

{% macro render_field_with_errors(field) %}
  <p>
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
