{% extends "base.html" %}
{% from "macros.html" import paginate, render_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/pygments.css')}}" />
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb list-inline">
    <li><a href="{{ url_for('project', project_name=patch.project.name) }}">{{ patch.project.name }}</a></li>
    {% if patch_set is defined %}
    <li><a href="{{ url_for('patch_set', patch_set_id=patch_set.id) }}">{{ patch_set.name }}</a></li>
    {% endif %}
    <li>{{ patch.name|truncate(80) }}</li>
</ol>
{% endblock %}


{% block content %}
<table class="table">
<tbody><tr>
    <th>Submitter</th>
    <td><a href="{{patch.submitter.email}}">{{patch.submitter.name}}</a></td>
</tr>
<tr>
    <th>Date</th>
    <td>{{patch.date}}</td>
</tr>
<tr>
    <th>Message ID</th>
    <td>
        <a href="http://news.gmane.org/find-root.php?message_id={{patch.msgid}}">{{patch.msgid}}
        </a>
    </td>
</tr>
{% if patch.tags|length %}
<tr>
    <th>Tags</th>
    <td>
        {{render_tags(patch.tags)}}
    </td>
</tr>
{% endif %}
<tr>
    <th>Download</th>
    <td>
    <a href="{{url_for('patch', patch_id=patch.id, format='mbox')}}">mbox</a> |
    <a href="{{url_for('patch', patch_id=patch.id, format='patch')}}">patch</a>
    </td>
</tr>
<tr>
    <th>Permalink</th>
    <td><a href="{{url_for('patch', patch_id=patch.id)}}">
        {{url_for('patch', patch_id=patch.id)}}</a>
    </td>
</tr>
<tr>
    <th>State</th>
    <td>{{patch.state}}</td>
</tr>

<tr>
  <th>Headers</th>
  <td><a href="#" data-toggle="collapse" data-target="#patchheaders">show</a>
   <div class="collapse" id="patchheaders">
    {{render_headers(patch.headers)}}
   </div>
  </td>
 </tr>
</tbody>
</table>

{% if page is defined %}
    {{paginate(page, endpoint)}}
{% endif %}

<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
</div>
<div class="panel-body">
{{render_patch(patch.content)}}
</div>
</div>

{%- for comment in patch.comments %}
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">{{comment.submitter.name}} - {{comment.date}}</h3>
</div>
<div class="panel-body">
<pre>
{{ comment.content }}
</pre>
</div>
</div>
{% endfor %}

{% endblock %}
