{% extends "base.html" %}
{% from "macros.html" import render_item, render_status, render_tag, patch_row_tiny, patches_bulk_script, patches_bulk_table_line %}

{% block breadcrumb %}
<li>{{ g.project.name }}</li>
{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">Project details</div>
    <div class="panel-body">
    <table class="table">
    <tbody>
        <tr>
        <th>Name</th> <td>{{ g.project.name }}</td>
        </tr>
        <tr>
        <th>List address</th>
        <td>{{ g.project.listemail }}</td>
        </tr>
        <tr>
        <th>Maintainers</th>
        <td>
            <ul class="list-inline">
            {%- for m in g.project.maintainers %}
                <li>
                    <a href="{{ url_for('profile', user_name=m.name) }}">
                        {{ m.name }}</a>&nbsp;
                    <a href="mailto:{{ m.email }}">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </td>
        </tr>
        <tr>
            <th>Patch count</th>
            <td>
            {{ render_status(g.project) }}
            </td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                <a href="#" data-toggle="collapse" data-target="#taglist">
                {{ g.project.tags.count() }}
                </a>
            </td>
        <tr>
            <td colspan=2>
                <div class="collapse" id="taglist">
                    {% for tag in g.project.tags %}
                        {{render_tag(tag, g.project)}}
                    {% endfor %}
                </div>
            </td>
        </tr>

        {{ render_item("Website", g.project.web_url) }}
        {{ render_item("Source Code Web Interface",  g.project.webscm_url) }}
        {{ render_item("Source Code Manager URL", g.project.scm_url) }}
        </tr>
    </tbody>
    </table>
    </div>
</div>

{%- macro patch_panel(highlight, heading, group, page) -%}
    {% set patches = g.project[group+"_patches"].order_by("Patch.date desc") %}
    {%- if patches.count() -%}
    <div class="panel panel-{{highlight}}">
        <div class="panel-heading">{{heading}}</div>
        <table class="table table-striped">
        <thead>
            {{ patches_bulk_table_line(current_user) }}
            <tr>
                {% if current_user.has_role('committer') or current_user.has_role('admin') %}
                <th></th>
                {% endif %}
                <th>Patch</th>
                <th>Date</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        {%- for patch in patches[:page] %}
            {{ patch_row_tiny(patch, current_user) }}
        {% endfor %}
        {% if patches.count() > page %}
        <tfoot>
            <tr><th colspan="0">
            <a
               href="{{ url_for("project.patches", group=group) }}">
               more...
            <a/>
            </th></tr>
        </div>
        {% endif %}
        </tbody>
        </table>
    </div>
    {% endif %}
    {{ patches_bulk_script() }}
{% endmacro %}

{{ patch_panel('danger', "Stale Patches", "stale", 10) }}
{{ patch_panel('info', "New Patches", "new", 10) }}

{% endblock %}
