{% extends "base.html" %}
{% from "macros.html" import render_form, render_field, render_submit %}

{% block breadcrumb %}
  <li>register</li>
{% endblock %}

{% block content %}

  {% call render_form(form, action_url=url_for('github_callback_register')) %}
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_submit(form.submit, class_='btn btn-default') }}
    <input type="hidden" name="github_username" value="{{ form.github_username.data }}">
  {% endcall %}
{% endblock %}
